.DS_store

/Permissioned-Network/Node-1/data/caches/*
/Permissioned-Network/Node-1/data/database/*
/Permissioned-Network/Node-1/data/uploads/*
/Permissioned-Network/Node-1/data/besu.networks
/Permissioned-Network/Node-1/data/besu.ports
/Permissioned-Network/Node-1/data/DATABASE_METADATA.json

/Permissioned-Network/Node-2/data/caches/*
/Permissioned-Network/Node-2/data/database/*
/Permissioned-Network/Node-2/data/uploads/*
/Permissioned-Network/Node-2/data/besu.networks
/Permissioned-Network/Node-2/data/besu.ports
/Permissioned-Network/Node-2/data/DATABASE_METADATA.json

/Permissioned-Network/Node-3/data/caches/*
/Permissioned-Network/Node-3/data/database/*
/Permissioned-Network/Node-3/data/uploads/*
/Permissioned-Network/Node-3/data/besu.networks
/Permissioned-Network/Node-3/data/besu.ports
/Permissioned-Network/Node-3/data/DATABASE_METADATA.json

/Permissioned-Network/Node-4/data/caches/*
/Permissioned-Network/Node-4/data/database/*
/Permissioned-Network/Node-4/data/uploads/*
/Permissioned-Network/Node-4/data/besu.networks
/Permissioned-Network/Node-4/data/besu.ports
/Permissioned-Network/Node-4/data/DATABASE_METADATA.json